<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="product/layout :: head">
    <meta charset="utf-8">
</head>
<h3>Create Product</h3>
<p>
    <a th:href="@{/products/list}">
        Back list
    </a>
</p>
<div id="form">
    <form th:action="@{/products/create}" th:object="${product}" method="post" enctype="multipart/form-data">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></p>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}">
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: red"></p>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}">
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red"></p>
        </div>
        <div>
            <label>Image</label>
            <input type="file" th:field="*{image}">
        </div>
        <div>
            <label for="category">Category</label>
            <select id="category" th:field="*{category}">
                <option th:each="category: ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
        </div>
        <input type="submit" value="Create">
    </form>
</div>
<body>
<footer th:replace="products/layout::footer"></footer>
</body>
</html>